:root {
    --pink: #FF1EA9;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(196, 196, 196);
}

.switch {
    background-color: red;
}

#wrapper {
    max-width: 1280px;
    margin: auto;
}

h1,
h2,
h3 {
    font-family: 'Baloo Thambi 2', cursive;
}

h1,
h2,
h3,
.uppercase,
#main-nav a,
#gallery-nav a,
.button,
label {
    text-transform: uppercase;
}

h1 {
    font-size: 2em;
    text-align: center;
    margin-top: 21px;
    margin-bottom: 5px;
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
}

.short-padding {
    padding: 1em 8em;
}

.huge-padding {
    padding: 3.5em 13em;
}

#banner,
#purchase,
#footer-links {
    background-color: black;
    color: white;
    height: max-content;
}

.button {
    padding: 0.5em 1em;
}

#about,
#gallery-nav,
#testimonials,
#contact {
    background-color: #fff;
}

#banner .button,
#purchase .button,
#footer-links .button {
    color: white;
    border: 2px solid var(--pink);
    display: inline-block;
}

.pink-button {
    color: white;
    background-color: var(--pink);
    font-weight: bold;
}

.separator {
    height: 3px;
    width: 3em;
    margin: auto;
    background-color: var(--pink);
}

.italic {
    font-style: italic;
}

.pink {
    color: var(--pink);
    text-decoration: underline;
}

#theme-switch {
    position: fixed;
    top: 30%;
    left: 2em;
    cursor: pointer;
}

.fa-tint {
    margin: 0.2em;
    padding: 0.3em 0.5em;
    border: 2px solid var(--pink);
    color: var(--pink);
}

.tint-switch {
    border: 2px solid black;
    color: black;
}


/* NAVIGATION */

header {
    align-items: center;
    justify-content: space-between;
}

#logo img {
    width: 6em;
}

#main-nav a {
    margin: 0 1em;
    color: white;
    /* font-weight: bold; */
}


/* BANNER */

#banner {
    text-align: center;
}


/* ABOUT US */

#about {
    justify-content: space-between;
}

#about article {
    max-width: 30%;
    flex: 1;
}

#about h3 {
    cursor: pointer;
}

.fa-cog,
.fa-wordpress,
.fa-paper-plane {
    font-size: 2em;
    color: var(--pink);
    margin-right: 0.4em;
}

.details-text {
    font-size: 0.8em;
}

.fa-plus {
    font-size: 1.2em;
    color: var(--pink);
    margin-right: 0.7em;
}

.accordion-item {
    border: 1px solid grey;
    margin: 1em;
    padding: 0.5em 1em;
}

.accordion-ui-content {
    display: none;
}

.active>.accordion-ui-content {
    display: block;
}


/* GALLERY */

#gallery {
    border-bottom: 1px solid rgba(158, 158, 158, 0.096);
}

#gallery figure {
    position: relative;
    width: 25%;
    height: 180px;
    overflow: hidden;
    margin: 0;
    cursor: pointer;
}

#gallery figure:hover img {
    transform: scale(1.3);
}

#gallery-img figure:hover .hidden {
    opacity: 0.8;
}

#gallery-img {
    flex-wrap: wrap;
}

#gallery-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.8s;
}

#gallery-img .hidden {
    display: flex;
    position: absolute;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    transition: opacity 0.8s;
    background-color: rgba(255, 0, 212, 0.459);
}

#gallery-img i {
    font-size: 4.5em;
    color: var(--pink);
}

#gallery-nav {
    justify-content: space-between;
    align-items: center;
}

#gallery-nav nav a {
    color: grey;
    margin: 1.7em 1em;
}

#gallery-nav nav a:hover {
    color: var(--pink);
}


/* TESTIMONIALS */

#testimonials>div.comment:nth-child(even) {
    flex-direction: row-reverse;
    text-align: right;
}

.comment {
    align-items: center;
    border-bottom: 1px solid rgba(158, 158, 158, 0.342);
    justify-content: flex-start;
    padding: 1em 2em;
    accordion
}

.comment:last-of-type {
    border-bottom: none;
}

.comment i {
    font-size: 5em;
    margin: 0 0.4em;
}

.quote-details {
    font-size: 0.8em;
}

#testimonials .button {
    border: 2px solid var(--pink);
    color: var(--pink);
    font-weight: bold;
}

.testimonial-button {
    text-align: center;
}


/* PURCHASE */

#purchase {
    text-align: center;
}

#purchase .button {
    font-weight: bold;
}


/* CONTACT */

#contact form {
    justify-content: space-between;
    margin: 1.8em 0 1em 0;
}

#contact form div {
    flex: 1;
    max-width: 48%;
    display: flex;
    flex-direction: column;
}

#contact .important::after {
    content: "*";
    color: var(--pink);
}

#contact form input {
    margin-bottom: 0.7em;
}

#contact form input,
#contact form textarea {
    background-color: rgb(238, 238, 238);
    border: none;
    padding: 0.8em 1em;
    border-radius: 4px;
}

#contact button {
    border: none;
    width: max-content;
    margin-top: 1.5em;
    padding: 1em 1.5em;
    cursor: pointer;
}


/* FOOTER */

footer p,
#footer-nav a {
    font-size: 0.8em;
}

#footer-links {
    justify-content: space-between;
}

#footer-links form input {
    background-color: rgb(114, 114, 114);
    display: block;
    width: 100%;
    margin-bottom: 1em;
    padding: 0.3em;
    border: none;
    color: white;
}

#footer-links form button {
    background-color: rgba(255, 255, 255, 0);
    font-weight: bold;
}

#footer-links div {
    flex: 1;
    max-width: 30%;
}

#footer-links .separator {
    margin: 0;
}

#footer-nav {
    align-items: center;
    justify-content: space-between;
}

#footer-nav p,
#footer-nav a {
    color: white;
}

#footer-nav a {
    margin: 0 10px;
}