:root {
    --theme: #FF1EA9;
    --themergba: rgba(255, 30, 169, 0.452);
}

* {
    box-sizing: border-box;
}

html,body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(to bottom, #4b4b4c, #5b5b5b, #6b6b6b, #7b7b7b, #8c8c8c);
    scroll-behavior: smooth;
}

.switch {
    background-image: linear-gradient(to top, #06064a, #161566, #262484, #3533a3, #4444c4);
}

#wrapper {
    max-width: 1280px;
    margin: auto;
}

h1,h2,h3 {
    font-family: 'Baloo Thambi 2', cursive;
}

h1,h2,h3,.uppercase,#main-nav a,#gallery-nav a,.button,label {
    text-transform: uppercase;
}

h1 {
    font-size: 2em;
    text-align: center;
    margin-top: 21px;
    margin-bottom: 5px;
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
}

.short-padding {
    padding: 1em 8em;
}

.huge-padding {
    padding: 3.5em 13em;
}

#banner,#purchase,#footer-links {
    background-color: black;
    color: white;
    height: max-content;
}

.button {
    padding: 0.5em 1em;
}

.pink {
    color: var(--theme);
}

.pink-bdr {
    border: 2px solid var(--theme);
}

.pink-bgc {
    background-color: var(--theme);
}

#about,#gallery-nav,#testimonials,#contact {
    background-color: #fff;
}

#banner .button,#purchase .button,#footer-links .button {
    color: white;
    border: 2px solid var(--theme);
    display: inline-block;
}

.separator {
    height: 3px;
    width: 3em;
    margin: auto;
}

.italic {
    font-style: italic;
}

.theme {
    text-decoration: underline;
}

#theme-switch {
    position: fixed;
    top: 30%;
    left: 2em;
    cursor: pointer;
}

.fa-tint {
    margin: 0.2em;
    padding: 0.3em 0.5em;
}


/* NAVIGATION */

header {
    align-items: center;
    justify-content: space-between;
}

#logo img {
    width: 6em;
}

#main-nav a {
    margin: 0 1em;
    color: white;
}

.navbar {
    display: none;
}

aside {
    position: fixed;
    background-image: linear-gradient(to bottom, #4b4b4c, #5b5b5b, #6b6b6b, #7b7b7b, #8c8c8c);
    width: 100%;
    height: 100vh;
    left: -100%;
    top: 0;
    z-index: 10;
    transition: 1s;
    box-shadow: 0 0 10px #000;
}

aside ul {
    margin: 0;
    padding: 0;
}

aside li {
    list-style: none;
    text-align: center;
}

aside li a {
    display: block;
    padding: 15px;
    color: #fff;
    text-decoration: none;
    font-size: 3em;
    transition: 0.3s;
}

aside li a:hover {
    background: #6a848d;
    text-decoration: underline;
}

.down {
    left: 0;
}

/* BANNER */

#banner {
    text-align: center;
    background: url(../img/banner.jpg) center/cover no-repeat;
}

/* ABOUT US */

#about {
    justify-content: space-between;
}

#about article {
    max-width: 30%;
    flex: 1;
}

#about h3 {
    cursor: pointer;
}

.fa-cog,.fa-wordpress,.fa-paper-plane {
    font-size: 2em;
    margin-right: 0.4em;
}

.details-text {
    font-size: 0.8em;
}

.fa-plus {
    font-size: 1.2em;
    margin-right: 0.7em;
}

.accordion-item {
    border: 1px solid grey;
    margin: 1em;
    padding: 0.5em 1em;
}

.accordion-ui-content {
    display: none;
}

.active>.accordion-ui-content {
    display: block;
}


/* GALLERY */

#gallery {
    border-bottom: 1px solid rgba(158, 158, 158, 0.096);
}

#gallery figure {
    position: relative;
    width: 25%;
    height: 180px;
    overflow: hidden;
    margin: 0;
    cursor: pointer;
}

#gallery figure:hover img {
    transform: scale(1.3);
}

#gallery-img figure:hover .hidden {
    opacity: 0.8;
}

#gallery-img {
    flex-wrap: wrap;
}

#gallery-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.8s;
}

#gallery-img .hidden {
    display: flex;
    position: absolute;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    transition: opacity 0.8s;
    background-color: var(--themergba);
}

#gallery-img i {
    font-size: 4.5em;
}

.lightbox {
    z-index: 999;
}

.lightbox-open {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.11);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.lightbox-open img {
    object-fit: cover;
}

#gallery-nav {
    justify-content: space-between;
    align-items: center;
}

#gallery-nav nav a {
    color: grey;
    margin: 1.7em 1em;
}

#gallery-nav nav a:hover {
    color: var(--theme);
}

#gallery-nav .pink {
    font-weight: bold;
    cursor: pointer;
}


/* TESTIMONIALS */

#testimonials>div.comment:nth-child(even) {
    flex-direction: row-reverse;
    text-align: right;
}

.comment {
    align-items: center;
    border-bottom: 1px solid rgba(158, 158, 158, 0.342);
    justify-content: flex-start;
    padding: 1em 2em;
}

.comment:last-of-type {
    border-bottom: none;
}

.comment i {
    font-size: 5em;
    margin: 0 0.4em;
}

.quote-details {
    font-size: 0.8em;
}

#testimonials .button {
    font-weight: bold;
}

.testimonial-button {
    text-align: center;
}


/* PURCHASE */

#purchase {
    text-align: center;
    background: url('../img/purchase_banner.jpg') center/cover no-repeat;
}

#purchase .button {
    font-weight: bold;
}


/* CONTACT */

#contact form {
    justify-content: space-between;
    margin: 1.8em 0 1em 0;
}

#contact form div {
    flex: 1;
    max-width: 48%;
    display: flex;
    flex-direction: column;
}

#contact .important::after {
    content: "*";
    color: var(--theme);
}

#contact form input {
    margin-bottom: 0.7em;
}

#contact form input,
#contact form textarea {
    background-color: rgb(238, 238, 238);
    border: none;
    padding: 0.8em 1em;
    border-radius: 4px;
}

#contact button {
    border: none;
    width: max-content;
    margin-top: 1.5em;
    padding: 1em 1.5em;
    cursor: pointer;
    color: white;
    font-weight: bold;
}


/* FOOTER */

footer p,#footer-nav a {
    font-size: 0.8em;
}

#footer-links {
    justify-content: space-between;
}

#footer-links form input {
    background-color: rgb(114, 114, 114);
    display: block;
    width: 100%;
    margin-bottom: 1em;
    padding: 0.3em;
    border: none;
    color: white;
}

#footer-links form button {
    background-color: rgba(255, 255, 255, 0);
    font-weight: bold;
}

#footer-links div {
    flex: 1;
    max-width: 30%;
}

#footer-links .pink {
    text-decoration: underline;
}

#footer-links .separator {
    margin: 0;
}

#footer-nav {
    align-items: center;
    justify-content: space-between;
}

#footer-nav p,#footer-nav a {
    color: white;
}

#footer-nav a {
    margin: 0 10px;
}


/* SCROLL UP BUTTON */

#page-up {
    position: fixed;
    bottom: 2em;
    right: 3.5em;
    background: rgba(255, 255, 255, 0.76);
    border-radius: 50%;
}

#page-up a {
    text-decoration: none;
    color: black;
}

#page-up i {
    padding: 5px 7px;
}

@media screen and (max-width: 930px) {
    #main-nav {
        display: none;
    }
    
    ul, li {
        padding: 0;
        margin: 0 auto;
    }

    .icon-menu {
        color: white;
        font-size: 2em;
        cursor: pointer;
    }

    .navbar {
        display: block;
    }

    #about>* {
        text-align: center;
    }

    #about {
        flex-direction: column;
    }

    #about article {
        max-width: 100%;
    }
}

@media screen and (max-width: 770px) {
    #gallery figure {
        width: 50%;
        height: 250px;
    }
    .short-padding {
        padding: 0.3em 3em;
    }
    .huge-padding {
        padding: 1.3em 5em;
    }
    #theme-switch {
        display: none;
    }
}

@media screen and (max-width: 680px) {
    .short-padding {
        padding: 0.1em 1.5em;
    }
    .huge-padding {
        padding: 0.7em 2em;
    }
    #contact form {
        flex-direction: column;
    }
    #contact form div {
        max-width: 100%;
    }
    #footer-links {
        flex-direction: column;
    }
    #footer-links div {
        max-width: 100%;
    }
    #footer-links>* {
        text-align: center;
    }
    #footer-links .separator {
        margin: auto;
    }
    #footer-links form input {
        width: 50%;
        margin: 1em auto;
    }
}

@media screen and (max-width: 580px) {
    #gallery figure {
        width: 100%;
        height: 300px;
    }
    .comment {
        flex-direction: column;
    }
    .comment i {
        font-size: 3em;
    }
    .italic {
        text-align: justify;
    }
    #testimonials>div.comment:nth-child(even) {
        flex-direction: column;
        text-align: right;
    }
}

@media screen and (max-width: 480px) {
    #gallery-nav {
        flex-direction: column;
    }
    #gallery-nav .button,#purchase .button {
        margin-bottom: 1em;
    }
    #contact button {
        display: block;
        margin: 1em auto 0 auto;
    }
}